html, body {
  font-family: sans-serif;
  font-size: small;
}

/** Header **/
#header {
  background: #c0c0c0;
  padding: 1em;
}

#lang ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#lang ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

#menu ul.mainmenu {
  background: #000;
  padding: 1em;
  list-style: none;
}

#menu a {
  color: #fff;
}

#menu a.selected {
  font-weight: bold;
}

#menu a.child-selected {
  font-style: italic;
}

#menu ul.mainmenu li {
  padding: 0;
  display: inline;
}

/** Left **/
#left {
  background: #f0f0f0;
  padding: 1em;
  width: 20em;
  float: left;
}

#left-hierarchy {
  background: #e0e0e0;
  padding: 1em;
  margin-bottom: 1em;
}

#left-about {
  background: #e0e0e0;
  padding: 1em;
}

/** Navigation **/
#navigation {
  background: #f0f0f0;
  padding: 1em;
  margin-left: 22em;
}

/** Content **/
#content {
  margin-left: 23em;
}

/** Footer **/
#footer {
  clear: both;
  background: #c0c0c0;
  padding: 1em;
}